<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <appSettings>
        <add key="AzureBlobStorage" value="Your connection string here" />
    </appSettings>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logfile" 
                    xsi:type="File" 
                    fileName="c:\logs\QuickDeploy.${date:format=yyyy-MM-dd}.${machinename}.txt" 
                    layout="${longdate}|${level:uppercase=true}|${message}"/>
        </targets>
        <rules>
            <logger name="optQuick" minLevel="Info" writeTo="logfile"/>
        </rules>

    </nlog>
    
</configuration>
